* {
  box-sizing: border-box;
}

html {
  background: url('img/background.png') no-repeat center center scroll;
  -webkit-background: url('img/background.png') no-repeat center center scroll;
  -moz-background: url('img/background.png') no-repeat center center scroll;
  -o-background: url('img/background.png') no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: 'Titillium Web', sans-serif;
}
header{
  grid-area: header;
  margin-top: 55px;
  margin-bottom: 26px;
}

  .container {
    max-width: 1050px;
    margin: 0 auto 20px auto;
  }

@media (min-width: 910px) {
  .col {
    float: left;
    width: 50%;
  }
  .row::after {
    content: '';
    display: table;
    clear: both;
  }
}

  img {
    display: block;
    margin: 0 auto;
    opacity: 0.5;
    height: auto;
  }

  h2 {
    font-size: 32px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(43,1,0,0.75);
    /* position: relative; */
    margin: 24px auto 10px auto;
    text-align: center;
  }

  section, footer {
    margin-top: 38px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 452px;
  }

  .logo_bottom {
    margin: 48px auto 20px auto;
    opacity: 0.5;
    display: block;
    height: auto;
    width: 100%;
  }

  .background {
    margin: 0 auto;
    width: 422px;
    display: block;
    position: relative;
    padding: 21px 20px 20px 18px;
    border-radius: 3px;
    text-align: center;
  }

  .background::after {
    content: "";
    background-color: #000;
    opacity: 0.25;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    z-index: -1;
    border-radius: 3px;
    margin: auto;

  }
  
  form {
    padding-top: 21px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
    display: table;
    border-radius: 3px;
    width: 385px;
    height: 100%;
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=tel],
  textarea,
  select {
    width: 338px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    padding: 4px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 3px;
    outline: none;
    border: 1px solid #c6c6c6;
    margin-bottom: 20px;
    color: #afafaf;
  }

  input[type=text] {
    background: url('img/user.png'), linear-gradient(to right, #ddd 0%, #f4f4f4 2px, #f4f4f4 100%);
    background-size: auto 50%, auto 70%;
    background-position: center left 18px, center left 55px;
    background-repeat: no-repeat;
    padding-left: 70px;
    height: 40px;
  }

  input[type=password] {
    background: url('img/lock.png'), linear-gradient(to right, #ddd 0%, #f4f4f4 2px, #f4f4f4 100%);
    background-size: auto 50%, auto 70%;
    background-position: center left 18px, center left 55px;
    background-repeat: no-repeat;
    padding-left: 70px;
    height: 40px;

  }

  input[type=email] {
    background-image: url('img/envelope.png'), linear-gradient(to right, #ddd 0%, #f4f4f4 2px, #f4f4f4 100%);
    background-size: 24px auto, auto 70%;
    background-position: center left 15px, center left 55px;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    padding-left: 70px;
    height: 40px;
  }

  select {
    width: 338px;
    height: 39px;
    color: #808080;
    background: url('img/location.png'), url('img/arrow.png') 2% / 15% no-repeat, linear-gradient(to right, #ddd 0%, #f4f4f4 2px, #f4f4f4 100%);
    -webkit-background: url('img/location.png'), url('img/arrow.png') 2% / 15% no-repeat, linear-gradient(to right, #ddd 0%, #f4f4f4 2px, #f4f4f4 100%);
    -moz-background: url('img/location.png'), url('img/arrow.png') 2% / 15% no-repeat, linear-gradient(to right, #ddd 0%, #f4f4f4 2px, #f4f4f4 100%);
    background-size: 15px auto, 15px auto, auto 50%, auto 70%;
    background-position: center left 21px, center right 10px, center left 55px;
    background-repeat: no-repeat;
    padding-left: 70px;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 10px;
  }


  /* CAUTION: IE hackery ahead */
  select::-ms-expand {
    display: none;
    /* remove default arrow on ie10 and ie11 */
  }

  /* target Internet Explorer 9 to undo the custom arrow */
  @media screen and (min-width:0\0) {
    select {
      background: none\9;
      padding: 5px\9;
    }
  }
  input[type=tel] {
    background: url('img/phone.png'), linear-gradient(to right, #ddd 0%, #f4f4f4 2px, #f4f4f4 100%);
    background-size: auto 55%, auto 70%;
    background-position: center left 23px, center left 55px;
    background-repeat: no-repeat;
    padding-left: 70px;
    height: 40px;
  }
  button {
   font-family: inherit;
   font-size: 20px;
   font-weight: 500;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   color: #fff;
   width: 339px;
   height: 48px;
   outline: none;
   padding: 1px;
   text-shadow: 1px 1px 2px rgba(46, 46, 46, 0.8);
   background-image: linear-gradient(0deg, #7cc01e 0%, #a3d741 100%);
   border: 1px solid #3b9a00;
  }

  button:hover{
   border: 1px solid #7ead24;
   background-image: -webkit-linear-gradient(top, #9cd430, #62a800);
   background-image: -moz-linear-gradient(top, #9cd430, #62a800);
   background-image: -ms-linear-gradient(top, #9cd430, #62a800);
   background-image: -o-linear-gradient(top, #9cd430, #62a800);
   background-image: linear-gradient(to bottom, #9cd430, #62a800);
  }
  .checkbox-position{
    margin-left: auto; 
    margin-right: auto; 
    width: 339px; 
    display: flex; 
  }

  .btn {
    margin-left: auto; 
    margin-right: auto; 
    width: 339px; 
    display: flex; 
    justify-content: space-between;
  }

  .short_btn {
    width: 148px;
    height: 39px;
  }

  .red_btn {
    width: 148px;
    height: 39px;
    border-radius: 3px;
    box-shadow: 0.5px 0.866px 0px #ffffff;
    background-image: linear-gradient(0deg, #ee3645 0%, #f55f71 100%);
    border: 1px solid #a2202a;
  }

  .red_btn:hover{
    background-image: linear-gradient(to bottom, #ff2841, rgb(241, 56, 71));
    border: 1px solid #a2202a;
  }

  .lock_btn {
    background-image: linear-gradient(0deg, #a9cf80 0%, #c6e1a7 100%);
    border: 1px solid #90ca6d;
    cursor: not-allowed;
  }

  .checkbox-custom {
    opacity: 0;
    position: absolute;
    display: flex;
  }

  .checkbox-custom,
  .checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 2px 0px 10px 0px;
    cursor: pointer;
  }

  .checkbox-custom-label {
    position: relative;
  }

  .checkbox-custom + .checkbox-custom-label:before {
    content: '';
    background: #f4f4f4;
    border: 1px solid #c6c6c6;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 2px;
    margin-right: 10px;
    text-align: left;
    border-radius: 3px;
  }

  .checkbox-custom:checked+.checkbox-custom-label:before {
    background-image: url('img/dot2.png');
    background-position: center center;
    background-repeat: no-repeat;
  }

  .checkbox-custom:focus+.checkbox-custom-label {
    outline: 1px solid #ddd;
    /* focus style */
  }

  label {
    color: #afafaf;
  }
  textarea {
    padding-left: 15px;
    background-color: #f4f4f4;
    margin-bottom: 10px;
  }
  .h2_recover {
    margin-top: 25px;
    margin-bottom: 30px;
  }